# 2. Supervised_Learning_Case_Study - 31

## Objectives:


### •	Learn to handle missing values

### •	Learn to fit a decision tree and compare its accuracy with random forest classifier.

### Questions:

### 1.	Let’s attempt to predict the survival of a horse based on various observed medical conditions. Load the data from ‘horses.csv’ and observe whether it contains missing values. Category Column (Y- Values) -Column -outcome

[Hint: Pandas dataframe has a method isnull]

### Import Libraries

In [1]:
import os
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'C:\\Users\\ankit\\Top_Mentor'

In [3]:
os.chdir('C:\\Users\\ankit\\OneDrive\\\Documents\\Desktop\\DATA SCIENCE\\Top Mentor Lecture\\24_Day_31_7_21\\Case Studies with Answer\\CS 31 Ans -Supervised Learnig-2')

In [4]:
df = pd.read_csv('horse.csv')
df

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,NaN,pale_cyanotic,more_3_sec,...,55.0,65.0,NaN,NaN,euthanized,no,3205,0,0,no
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,44.0,NaN,serosanguious,3.3,euthanized,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,60.0,6.8,NaN,NaN,died,yes,3205,0,0,no
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,50.0,6.0,serosanguious,3.4,lived,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40.0,20.0,NaN,NaN,NaN,NaN,...,36.0,62.0,clear,1.0,euthanized,no,6112,0,0,no

### Data Check

In [5]:
df.isnull().sum()

surgery                    0
age                        0
hospital_number            0
rectal_temp               60
pulse                     24
respiratory_rate          58
temp_of_extremities       56
peripheral_pulse          69
mucous_membrane           47
capillary_refill_time     32
pain                      55
peristalsis               44
abdominal_distention      56
nasogastric_tube         104
nasogastric_reflux       106
nasogastric_reflux_ph    246
rectal_exam_feces        102
abdomen                  118
packed_cell_volume        29
total_protein             33
abdomo_appearance        165
abdomo_protein           198
outcome                    0
surgical_lesion            0
lesion_1                   0
lesion_2                   0
lesion_3                   0
cp_data                    0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   surgery                299 non-null    object
 1   age                    299 non-null    object
 2   hospital_number        299 non-null    int64
 3   rectal_temp            239 non-null    float64
 4   pulse                  275 non-null    float64
 5   respiratory_rate       241 non-null    float64
 6   temp_of_extremities    243 non-null    object
 7   peripheral_pulse       230 non-null    object
 8   mucous_membrane        252 non-null    object
 9   capillary_refill_time  267 non-null    object
 10  pain                   244 non-null    object
 11  peristalsis            255 non-null    object
 12  abdominal_distention   243 non-null    object
 13  nasogastric_tube       195 non-null    object
 14  nasogastric_reflux     193 non-null    object
 15  nasogastric_reflux_ph  53 non-null     float64
 16  rectal_exam_feces      197 non-null    object
 17  abdomen                181 non-null    object
 18  packed_cell_volume     270 non-null    float64
 19  total_protein          266 non-null    float64
 20  abdomo_appearance      134 non-null    object
 21  abdomo_protein         101 non-null    float64
 22  outcome                299 non-null    object
 23  surgical_lesion        299 non-null    object
 24  lesion_1               299 non-null    int64
 25  lesion_2               299 non-null    int64
 26  lesion_3               299 non-null    int64
 27  cp_data                299 non-null    object
dtypes: float64(7), int64(4), object(17)
memory usage: 65.5+ KB

In [7]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
hospital_number,299.0,1.087733e+06,1.532032e+06,518476.0,528904.0,530301.0,534736.00,5305629.0
rectal_temp,239.0,3.816862e+01,7.337444e-01,35.4,37.8,38.2,38.50,40.8
pulse,275.0,7.200000e+01,2.864622e+01,30.0,48.0,64.0,88.00,184.0
respiratory_rate,241.0,3.046058e+01,1.766610e+01,8.0,18.0,25.0,36.00,96.0
nasogastric_reflux_ph,53.0,4.707547e+00,1.982311e+00,1.0,3.0,5.0,6.50,7.5
packed_cell_volume,270.0,4.630741e+01,1.043674e+01,23.0,38.0,45.0,52.00,75.0
total_protein,266.0,2.427444e+01,2.736419e+01,3.3,6.5,7.5,56.75,89.0
abdomo_protein,101.0,3.039604e+00,1.967947e+00,0.1,2.0,2.3,3.90,10.1
lesion_1,299.0,3.659709e+03,5.408472e+03,0.0,2111.5,2322.0,3209.00,41110.0
lesion_2,299.0,9.052843e+01,6.506371e+02,0.0,0.0,0.0,0.00,7111.0
lesion_3,299.0,7.387960e+00,1.277498e+02,0.0,0.0,0.0,0.00,2209.0

### Number of records in Target category

In [9]:
df.groupby('outcome').size()

outcome
died           77
euthanized     44
lived         178
dtype: int64

In [15]:
df['outcome'].value_counts()

lived         178
died           77
euthanized     44
Name: outcome, dtype: int64

### Columns List

In [17]:
columns = df.columns
print(columns)

Index(['surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'outcome', 'surgical_lesion', 'lesion_1', 'lesion_2',
       'lesion_3', 'cp_data'],
      dtype='object')

### Target Y Column

In [19]:
target = df['outcome']
print(target)

0            died
1      euthanized
2           lived
3            died
4            died
          ...
294    euthanized
295    euthanized
296          died
297         lived
298    euthanized
Name: outcome, Length: 299, dtype: object

### Unique Target Values

In [20]:
target.unique()

array(['died', 'euthanized', 'lived'], dtype=object)

In [22]:
horse = df.copy()
horse.head()

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,outcome,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,NaN,more_3_sec,...,45.0,8.4,NaN,NaN,died,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,NaN,NaN,pale_cyanotic,less_3_sec,...,50.0,85.0,cloudy,2.0,euthanized,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,33.0,6.7,NaN,NaN,lived,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,48.0,7.2,serosanguious,5.3,died,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,NaN,NaN,dark_cyanotic,more_3_sec,...,74.0,7.4,NaN,NaN,died,no,4300,0,0,no

In [23]:
horse = horse.drop('outcome', axis = 1)
horse.columns

Index(['surgery', 'age', 'hospital_number', 'rectal_temp', 'pulse',
       'respiratory_rate', 'temp_of_extremities', 'peripheral_pulse',
       'mucous_membrane', 'capillary_refill_time', 'pain', 'peristalsis',
       'abdominal_distention', 'nasogastric_tube', 'nasogastric_reflux',
       'nasogastric_reflux_ph', 'rectal_exam_feces', 'abdomen',
       'packed_cell_volume', 'total_protein', 'abdomo_appearance',
       'abdomo_protein', 'surgical_lesion', 'lesion_1', 'lesion_2', 'lesion_3',
       'cp_data'],
      dtype='object')

### 2.	Replace the missing values by the most frequent value in each column. 
[Hint: Refer to Imputer class in Scikit learn preprocessing module]

### Print the number of missing values and Column Data Types

In [28]:
dtype_null = pd.concat([horse.isnull().sum(), horse.dtypes], axis = 1)
dtype_null.columns = ['Null_count', 'DataType']
dtype_null

                       Null_count DataType
surgery                         0   object
age                             0   object
hospital_number                 0    int64
rectal_temp                    60  float64
pulse                          24  float64
respiratory_rate               58  float64
temp_of_extremities            56   object
peripheral_pulse               69   object
mucous_membrane                47   object
capillary_refill_time          32   object
pain                           55   object
peristalsis                    44   object
abdominal_distention           56   object
nasogastric_tube              104   object
nasogastric_reflux            106   object
nasogastric_reflux_ph         246  float64
rectal_exam_feces             102   object
abdomen                       118   object
packed_cell_volume             29  float64
total_protein                  33  float64
abdomo_appearance             165   object
abdomo_protein                198  float64
surgical_lesion                 0   object
lesion_1                        0    int64
lesion_2                        0    int64
lesion_3                        0    int64
cp_data                         0   object

### columns with missing values and data types - 'Object'

In [30]:
category_col = dtype_null[(dtype_null.Null_count > 0) & (dtype_null.DataType == 'object')]
category_col

                       Null_count DataType
temp_of_extremities            56   object
peripheral_pulse               69   object
mucous_membrane                47   object
capillary_refill_time          32   object
pain                           55   object
peristalsis                    44   object
abdominal_distention           56   object
nasogastric_tube              104   object
nasogastric_reflux            106   object
rectal_exam_feces             102   object
abdomen                       118   object
abdomo_appearance             165   object

### Get Column Names asList

In [32]:
category_variables = list(category_col.index)
category_variables

['temp_of_extremities',
 'peripheral_pulse',
 'mucous_membrane',
 'capillary_refill_time',
 'pain',
 'peristalsis',
 'abdominal_distention',
 'nasogastric_tube',
 'nasogastric_reflux',
 'rectal_exam_feces',
 'abdomen',
 'abdomo_appearance']

### Missing Value Update for Category Column

In [33]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy = 'most_frequent')
horse[category_variables] = imp.fit_transform(horse[category_variables])
horse

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.5,66.0,28.0,cool,reduced,normal_pink,more_3_sec,...,distend_large,45.0,8.4,cloudy,NaN,no,11300,0,0,no
1,yes,adult,534817,39.2,88.0,20.0,cool,normal,pale_cyanotic,less_3_sec,...,other,50.0,85.0,cloudy,2.0,no,2208,0,0,no
2,no,adult,530334,38.3,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,normal,33.0,6.7,cloudy,NaN,no,0,0,0,yes
3,yes,young,5290409,39.1,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,distend_large,48.0,7.2,serosanguious,5.3,yes,2208,0,0,yes
4,no,adult,530255,37.3,104.0,35.0,cool,normal,dark_cyanotic,more_3_sec,...,distend_large,74.0,7.4,cloudy,NaN,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,NaN,120.0,70.0,cold,normal,pale_cyanotic,more_3_sec,...,distend_large,55.0,65.0,cloudy,NaN,no,3205,0,0,no
295,no,adult,527702,37.2,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,distend_small,44.0,NaN,serosanguious,3.3,yes,2208,0,0,yes
296,yes,adult,529386,37.5,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,distend_large,60.0,6.8,cloudy,NaN,yes,3205,0,0,no
297,yes,adult,530612,36.5,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,distend_small,50.0,6.0,serosanguious,3.4,yes,2208,0,0,yes
298,yes,adult,534618,37.2,40.0,20.0,cool,normal,normal_pink,less_3_sec,...,normal,36.0,62.0,clear,1.0,no,6112,0,0,no

### Check missing value count

In [35]:
datatype_null = pd.concat([horse.isnull().sum(), horse.dtypes], axis = 1)
datatype_null.columns = ['Null_count', 'DataType']
datatype_null

                       Null_count DataType
surgery                         0   object
age                             0   object
hospital_number                 0    int64
rectal_temp                    60  float64
pulse                          24  float64
respiratory_rate               58  float64
temp_of_extremities             0   object
peripheral_pulse                0   object
mucous_membrane                 0   object
capillary_refill_time           0   object
pain                            0   object
peristalsis                     0   object
abdominal_distention            0   object
nasogastric_tube                0   object
nasogastric_reflux              0   object
nasogastric_reflux_ph         246  float64
rectal_exam_feces               0   object
abdomen                         0   object
packed_cell_volume             29  float64
total_protein                  33  float64
abdomo_appearance               0   object
abdomo_protein                198  float64
surgical_lesion                 0   object
lesion_1                        0    int64
lesion_2                        0    int64
lesion_3                        0    int64
cp_data                         0   object

### Save Result to Excel to Validate

In [36]:
horse.to_excel('C:\\Users\\ankit\\OneDrive\\Documents\\Desktop\\DATA SCIENCE\\Top Mentor Lecture\\24_Day_31_7_21\\Case Studies with Answer\\CS 31 Ans -Supervised Learnig-2\\horse.xlsx')

### Float columns with missing record count

In [51]:
flote_col = dtype_null[(dtype_null.Null_count > 0) & (datatype_null.DataType == float)]
flote_col

                       Null_count DataType
rectal_temp                    60  float64
pulse                          24  float64
respiratory_rate               58  float64
nasogastric_reflux_ph         246  float64
packed_cell_volume             29  float64
total_protein                  33  float64
abdomo_protein                198  float64

### Float column names as list

In [52]:
float_variables = list(flote_col.index)
float_variables

['rectal_temp',
 'pulse',
 'respiratory_rate',
 'nasogastric_reflux_ph',
 'packed_cell_volume',
 'total_protein',
 'abdomo_protein']

### Misssing value update for Flote Columns with mean

In [53]:
from sklearn.impute import SimpleImputer

imp = SimpleImputer(strategy = 'mean')
horse[float_variables] = imp.fit_transform(horse[float_variables])
horse.to_excel('C:\\Users\\ankit\\OneDrive\\Documents\\Desktop\\DATA SCIENCE\\Top Mentor Lecture\\24_Day_31_7_21\\Case Studies with Answer\\CS 31 Ans -Supervised Learnig-2\\horse.xlsx')
horse

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.500000,66.0,28.0,cool,reduced,normal_pink,more_3_sec,...,distend_large,45.0,8.400000,cloudy,3.039604,no,11300,0,0,no
1,yes,adult,534817,39.200000,88.0,20.0,cool,normal,pale_cyanotic,less_3_sec,...,other,50.0,85.000000,cloudy,2.000000,no,2208,0,0,no
2,no,adult,530334,38.300000,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,normal,33.0,6.700000,cloudy,3.039604,no,0,0,0,yes
3,yes,young,5290409,39.100000,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,distend_large,48.0,7.200000,serosanguious,5.300000,yes,2208,0,0,yes
4,no,adult,530255,37.300000,104.0,35.0,cool,normal,dark_cyanotic,more_3_sec,...,distend_large,74.0,7.400000,cloudy,3.039604,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,38.168619,120.0,70.0,cold,normal,pale_cyanotic,more_3_sec,...,distend_large,55.0,65.000000,cloudy,3.039604,no,3205,0,0,no
295,no,adult,527702,37.200000,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,distend_small,44.0,24.274436,serosanguious,3.300000,yes,2208,0,0,yes
296,yes,adult,529386,37.500000,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,distend_large,60.0,6.800000,cloudy,3.039604,yes,3205,0,0,no
297,yes,adult,530612,36.500000,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,distend_small,50.0,6.000000,serosanguious,3.400000,yes,2208,0,0,yes
298,yes,adult,534618,37.200000,40.0,20.0,cool,normal,normal_pink,less_3_sec,...,normal,36.0,62.000000,clear,1.000000,no,6112,0,0,no

In [54]:
datatype_null = pd.concat([horse.isnull().sum(), horse.dtypes], axis = 1)
datatype_null.columns = ['Null_count', 'DataType']
datatype_null

                       Null_count DataType
surgery                         0   object
age                             0   object
hospital_number                 0    int64
rectal_temp                     0  float64
pulse                           0  float64
respiratory_rate                0  float64
temp_of_extremities             0   object
peripheral_pulse                0   object
mucous_membrane                 0   object
capillary_refill_time           0   object
pain                            0   object
peristalsis                     0   object
abdominal_distention            0   object
nasogastric_tube                0   object
nasogastric_reflux              0   object
nasogastric_reflux_ph           0  float64
rectal_exam_feces               0   object
abdomen                         0   object
packed_cell_volume              0  float64
total_protein                   0  float64
abdomo_appearance               0   object
abdomo_protein                  0  float64
surgical_lesion                 0   object
lesion_1                        0    int64
lesion_2                        0    int64
lesion_3                        0    int64
cp_data                         0   object

### validate the data

In [55]:
df[float_variables]

,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein
0,38.5,66.0,28.0,NaN,45.0,8.4,NaN
1,39.2,88.0,20.0,NaN,50.0,85.0,2.0
2,38.3,40.0,24.0,NaN,33.0,6.7,NaN
3,39.1,164.0,84.0,5.0,48.0,7.2,5.3
4,37.3,104.0,35.0,NaN,74.0,7.4,NaN
...,...,...,...,...,...,...,...
294,NaN,120.0,70.0,NaN,55.0,65.0,NaN
295,37.2,72.0,24.0,NaN,44.0,NaN,3.3
296,37.5,72.0,30.0,NaN,60.0,6.8,NaN
297,36.5,100.0,24.0,NaN,50.0,6.0,3.4
298,37.2,40.0,20.0,NaN,36.0,62.0,1.0

### Display independent table list- Data Set

In [58]:
horse

,surgery,age,hospital_number,rectal_temp,pulse,respiratory_rate,temp_of_extremities,peripheral_pulse,mucous_membrane,capillary_refill_time,...,abdomen,packed_cell_volume,total_protein,abdomo_appearance,abdomo_protein,surgical_lesion,lesion_1,lesion_2,lesion_3,cp_data
0,no,adult,530101,38.500000,66.0,28.0,cool,reduced,normal_pink,more_3_sec,...,distend_large,45.0,8.400000,cloudy,3.039604,no,11300,0,0,no
1,yes,adult,534817,39.200000,88.0,20.0,cool,normal,pale_cyanotic,less_3_sec,...,other,50.0,85.000000,cloudy,2.000000,no,2208,0,0,no
2,no,adult,530334,38.300000,40.0,24.0,normal,normal,pale_pink,less_3_sec,...,normal,33.0,6.700000,cloudy,3.039604,no,0,0,0,yes
3,yes,young,5290409,39.100000,164.0,84.0,cold,normal,dark_cyanotic,more_3_sec,...,distend_large,48.0,7.200000,serosanguious,5.300000,yes,2208,0,0,yes
4,no,adult,530255,37.300000,104.0,35.0,cool,normal,dark_cyanotic,more_3_sec,...,distend_large,74.0,7.400000,cloudy,3.039604,no,4300,0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,yes,adult,533886,38.168619,120.0,70.0,cold,normal,pale_cyanotic,more_3_sec,...,distend_large,55.0,65.000000,cloudy,3.039604,no,3205,0,0,no
295,no,adult,527702,37.200000,72.0,24.0,cool,increased,pale_cyanotic,more_3_sec,...,distend_small,44.0,24.274436,serosanguious,3.300000,yes,2208,0,0,yes
296,yes,adult,529386,37.500000,72.0,30.0,cold,reduced,pale_cyanotic,less_3_sec,...,distend_large,60.0,6.800000,cloudy,3.039604,yes,3205,0,0,no
297,yes,adult,530612,36.500000,100.0,24.0,cool,reduced,pale_pink,less_3_sec,...,distend_small,50.0,6.000000,serosanguious,3.400000,yes,2208,0,0,yes
298,yes,adult,534618,37.200000,40.0,20.0,cool,normal,normal_pink,less_3_sec,...,normal,36.0,62.000000,clear,1.000000,no,6112,0,0,no

## 3.	Data  contains many categorical features, replace them with label encoding.

[Hint: Refer to get_dummies methods in pandas dataframe or Label encoder in scikit-learn]

### Get all the columns list data type – Object

In [59]:
allcategory_col = dtype_null[dtype_null.DataType == 'object']
allcategory_col = list(allcategory_col.index)
allcategory_col

['surgery',
 'age',
 'temp_of_extremities',
 'peripheral_pulse',
 'mucous_membrane',
 'capillary_refill_time',
 'pain',
 'peristalsis',
 'abdominal_distention',
 'nasogastric_tube',
 'nasogastric_reflux',
 'rectal_exam_feces',
 'abdomen',
 'abdomo_appearance',
 'surgical_lesion',
 'cp_data']

### Implement one hot encoding

In [60]:
horse1 = horse.copy()

In [61]:
for i in allcategory_col:
    horse1 = pd.get_dummies(horse1, columns = [i], drop_first = True )
horse1

,hospital_number,rectal_temp,pulse,respiratory_rate,nasogastric_reflux_ph,packed_cell_volume,total_protein,abdomo_protein,lesion_1,lesion_2,...,rectal_exam_feces_increased,rectal_exam_feces_normal,abdomen_distend_small,abdomen_firm,abdomen_normal,abdomen_other,abdomo_appearance_cloudy,abdomo_appearance_serosanguious,surgical_lesion_yes,cp_data_yes
0,530101,38.500000,66.0,28.0,4.707547,45.0,8.400000,3.039604,11300,0,...,0,0,0,0,0,0,1,0,0,0
1,534817,39.200000,88.0,20.0,4.707547,50.0,85.000000,2.000000,2208,0,...,0,0,0,0,0,1,1,0,0,0
2,530334,38.300000,40.0,24.0,4.707547,33.0,6.700000,3.039604,0,0,...,0,1,0,0,1,0,1,0,0,1
3,5290409,39.100000,164.0,84.0,5.000000,48.0,7.200000,5.300000,2208,0,...,0,0,0,0,0,0,0,1,1,1
4,530255,37.300000,104.0,35.0,4.707547,74.0,7.400000,3.039604,4300,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,533886,38.168619,120.0,70.0,4.707547,55.0,65.000000,3.039604,3205,0,...,0,0,0,0,0,0,1,0,0,0
295,527702,37.200000,72.0,24.0,4.707547,44.0,24.274436,3.300000,2208,0,...,0,0,1,0,0,0,0,1,1,1
296,529386,37.500000,72.0,30.0,4.707547,60.0,6.800000,3.039604,3205,0,...,0,0,0,0,0,0,1,0,1,0
297,530612,36.500000,100.0,24.0,4.707547,50.0,6.000000,3.400000,2208,0,...,0,0,1,0,0,0,0,1,1,1
298,534618,37.200000,40.0,20.0,4.707547,36.0,62.000000,1.000000,6112,0,...,0,0,0,0,1,0,0,0,0,0

In [62]:
horse1.to_excel('C:\\Users\\ankit\\OneDrive\\Documents\\Desktop\\DATA SCIENCE\\Top Mentor Lecture\\24_Day_31_7_21\\Case Studies with Answer\\CS 31 Ans -Supervised Learnig-2\\horseOneHot.xlsx')

### Targer Columne Unique Values

In [63]:
target.unique()

array(['died', 'euthanized', 'lived'], dtype=object)

### Label Encoding to Target Column

In [64]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
target = encoder.fit_transform(target)

target

array([0, 1, 2, 0, 0, 2, 2, 0, 1, 2, 2, 2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 0, 2, 0, 1, 2, 2, 2, 1, 1, 2, 2, 0, 0, 2, 2, 1,
       1, 0, 2, 2, 0, 0, 2, 0, 2, 2, 1, 0, 2, 0, 0, 0, 2, 2, 0, 1, 2, 2,
       2, 2, 2, 2, 1, 2, 0, 0, 0, 1, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 1,
       2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 0, 2, 2, 2, 1, 0,
       0, 2, 2, 0, 2, 2, 2, 1, 2, 2, 2, 1, 2, 0, 1, 2, 2, 2, 1, 2, 0, 0,
       2, 0, 0, 0, 2, 2, 2, 2, 0, 0, 2, 1, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 1, 2, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 1, 2, 0, 2, 0, 0, 2, 2,
       0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 0, 2,
       2, 2, 0, 1, 2, 2, 1, 2, 0, 1, 2, 0, 0, 2, 2, 2, 2, 2, 2, 1, 2, 1,
       2, 2, 2, 2, 2, 0, 2, 1, 2, 2, 0, 2, 2, 2, 0, 2, 2, 1, 1, 0, 2, 0,
       2, 2, 0, 2, 0, 2, 2, 1, 0, 0, 2, 2, 0, 1, 0, 2, 0, 2, 2, 2, 0, 2,
       1, 2, 2, 2, 2, 0, 2, 2, 0, 1, 0, 1, 2, 2, 2, 2, 0, 0, 2, 2, 2, 1,
       2, 2, 2, 2, 0, 0, 1, 2, 1, 1, 0, 2, 1])

## 4.	Fit a decision tree classifier and observe the accuracy.

### Train Test Split

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(horse1, target, test_size = 0.2, random_state = 1)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(239, 51)
(239,)
(60, 51)
(60,)

### Decision Tree

In [66]:
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()

dt.fit(X_train, y_train)

DecisionTreeClassifier()

### Prediction x_test

In [67]:
y_pred = dt.predict(X_test)
y_pred

array([1, 2, 2, 1, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 0, 1, 0, 0, 2, 2, 0, 2,
       1, 0, 2, 2, 2, 1, 2, 1, 2, 0, 2, 0, 1, 0, 2, 2, 2, 2, 0, 2, 2, 1,
       0, 2, 1, 0, 0, 2, 2, 2, 2, 1, 1, 2, 2, 2, 2, 2])

### Print Accuracy

In [68]:
from sklearn import metrics

accuracy = metrics.r2_score(y_pred, y_test)
accuracy

-0.09047807190833645

In [69]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_pred, y_test)
accuracy

0.6333333333333333

In [70]:
dt.score(X_test, y_test)

0.6333333333333333

In [71]:
dt.score(X_train, y_train)

1.0

### 5.	Fit a random forest classifier and observe the accuracy.

In [72]:
from sklearn.ensemble import RandomForestClassifier\

rf = RandomForestClassifier()
rf.fit(X_train, y_train)

RandomForestClassifier()

In [75]:
y_pred = rf.predict(X_test)

In [76]:
y_pred

array([1, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       0, 0, 1, 2, 0, 2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2])

In [78]:
accuracy = accuracy_score(y_pred, y_test)
accuracy

0.7333333333333333